<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ratiomatic</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
  </head>
  <body>
    <div id="app">
      <div v-bind:class="{ loading: loading }" class="top-content">
        <div class="top">
          <input v-bind:readonly="expanded" v-bind:class="{ readonly: expanded }" @click="handleInputClick" @change="handleChangeNum" @keypress="catchEnterKey" v-model="numerator" type="number">
            <img v-if="!expanded" src="../shared/images/ratiomatic-Template@2x.png">
            <span class="x" v-else>/</span>
          <input v-bind:readonly="expanded" v-bind:class="{ readonly: expanded }" @click="handleInputClick" @change="handleChangeDen" @keypress="catchEnterKey" v-model="denominator" type="number">
        </div>
        
        <div class="flex-row">
          <button v-if="!expanded" v-bind:class="{ active: readyToSubmit }" v-on:click="submitRatio()" class="submit">submit</button>
          <button v-else v-on:click="reset()" class="submit active">reset</button>
        </div>
      </div>
      <div v-if="expanded" class="proportion">
        <div class="top">
          <input @click="handleInputClick" v-model="propNum" @input="handlePropNumInput" type="number">
          <img src="../shared/images/ratiomatic-Template@2x.png">
          <input @click="handleInputClick" v-model="propDen" @input="handlePropDenInput" type="number">
        </div>
      </div>
      <div v-if="expanded" class="results">
        <select @input="handleRatioSelect" multiple size="2">
          <option v-for="sub of subRatios" v-bind:value="sub.join(':')">{{sub[0]}} <img src="../shared/images/ratiomatic-Template@2x.png"> {{sub[1]}}</option>
        </select>
      </div>
    </div>

    <script src="assets/scripts/index.js"></script>
  </body>
</html>
