* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 12px;
  background: linear-gradient( to bottom, black, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%, black 100% );
  opacity: 0.1;
  padding: 12px 16px;
  background-size: 17px 12px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.options:hover {
  opacity: 0.4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.8);
  font-size: 12px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  opacity: 0.5;
  cursor: progress;
}

.loading * {
  cursor: progress !important;
}

.top-content {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 0;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top input {
  font-size: 1.5em;
  width: 170px;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 50px;
  padding: 0.25em;
  outline: none;
  color: inherit;
}

.top input:hover {
  border: 2px solid rgba(0,0,0,0.3);
}

.top input:focus {
  border: 2px solid rgba(0,0,0,0.5);
}

.top img {
  opacity: 0.1;
}

.x {
  opacity: 0.3;
  font-size: 1.3em;
  width: 32px;
  display: inline-block;
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.submit {
  display: block;
  margin: 0 auto;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 50px;
  font-size: 1.1em;
  font-family: inherit;
  padding: 0.25em 1em;
  color: inherit;
  cursor: not-allowed;
  opacity: 0.2;
  outline: none;
  margin: 0 0.25em;
}

.submit.active {
  cursor: pointer;
  opacity: 1;
}

.submit.active:hover {
  border: 2px solid rgba(0,0,0,0.6);
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 1em;
}

.results select {
  border: 2px solid rgba(0,0,0,0.2);
  font-size: 1.25em;
  font-family: inherit;
  border-radius: 4px;
  padding: 0.5em;
  height: 100%;
  outline: none;
  flex: 1;
}

.results select:focus {
  border: 2px solid rgba(0,0,0,0.4);
}

.results select option {
  padding: 0.5em;
  outline: none;
  border-radius: 4px;
  color: rgba(0,0,0,0.8);
}

.results select option:checked {
  background: linear-gradient(#999999, #999999);
  color: white;
}

.readonly {
  border: 2px solid transparent !important;
  user-select: none;
  cursor: default;
}
